.projects {
  padding: 24px 0;
}
.container {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  max-width: 33%;
  margin: 8px 14px;
}
.text {
  display: flex;
  flex-direction: column;
  padding: 26px 0;
  margin-left: 100px;
  font-family: 'Montserrat';
}
.text h2 {
  font-size: 34px;
}
.text h5 {
  font-size: 18px;
}
